@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&display=swap');

:root{
    /*GENERAL*/
    --page-background:rgb(15, 23, 42);
    --violet-logo:rgb(168, 85, 247);
    --violet-logo-bg:rgb(87, 7, 199);
    --dark-gray:#333;
    --dark-purple:#581c87;
    --wave-blue:#5B42F3;

    /* CAKE PALETTE*/
    --cake-pink:#EC4899;
    --cake-violet:#8B5CF6;

    /* BRANDS */
    --github: #6A1D9B;
    --twitter: #55acee;
    --whatsapp: #00bb2d;
    --instagram: #e4405f;
    --twitter: #55acee;
    --pinterest: #bd081c;
    --linkedin: #0077b5;
}

/*------GENERAL STYLES------*/
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: "Josefin Sans", sans-serif;
    scroll-behavior: smooth;
}

html{
    font-size: 25px;   
    color: #fff;
    margin: 0 auto;
}

a{
    text-decoration: none;
    color: inherit;
}

ul{
    list-style: none;
}

/*----BODY----*/

body{
    height: 100%;
    width: 100%;
    background-color:var(--page-background) ;
    background-image: linear-gradient(to right, #80808012 1px, transparent 1px), linear-gradient(to bottom, #80808012 1px, transparent 1px);
    background-size: 24px 24px;
}

/*----ICONS SETUP----*/
.nav__logo i, .nav__utilities a i{
    font-size: 3.2rem;
}

.fa-github{
    color: var(--github);
}

.fa-instagram{
    color: var(--instagram);
}

.fa-linkedin{
    color: var(--linkedin);
}

.fa-twitter{
    color: var(--twitter);
}

.fa-whatsapp{
    color: var(--whatsapp);
}

.fa-pinterest{
    color: var(--pinterest);
}

/*------HEADER & CHILDS-----*/


header nav{
    display: grid;
    grid-template-columns: .3fr 1fr .3fr;
    place-items: center;
}

header, .profiles{
    width: 80%;
    margin: 0 auto;
}
header{
    margin-top: 2%;
}

/*NAV LOGO*/
.nav__logo{
    text-align: center;
    border: 1px solid #fff;
    border-radius: 3em 1em;
    padding: 1em;
    letter-spacing: 2px;
    word-wrap: break-word;
    background: linear-gradient(45deg, var(--violet-logo-bg) , transparent);
}

.nav__logo i{
    color: var(--violet-logo);
    font-weight: bolder;
}

.nav__logo span h3{
    margin: 12px 0 12px 0;
}

.nav__logo span h5{
    color: var(--violet-logo);
}

/*NAV LINKS*/
header nav ul, .social ul{
    display: flex;
}

header nav ul{
    justify-content: space-around;
    font-size: 1.5vw;
}

.nav__links{
    width: 55%;
}

.nav__links ul li:first-child{
    color: var(--violet-logo);
}

.nav__links ul li:hover{
    color: var(--violet-logo);
}

/*NAV UTILITIES*/
.nav__utilities{
    text-align: center;
}

/*------------MAIN & CHILDS-----------*/
main{
    text-align: center;
    margin-top: 2%;
}

main strong{
    font-size: 3.5rem;
    background-clip: text; 
    color: transparent;
    background-image: linear-gradient(to right, violet, var(--cake-pink), var(--cake-violet)); /* Equivalente a bg-gradient-to-r from-white to-orange-400 */
    padding: 2%;
}

/*Profiles*/
.profiles{
    margin: 0 auto;
    width: 70%;
    display: grid;
    place-items: center;
    grid-template-columns: 1fr 1fr 1fr;
    margin-top: 2%;
}


/*CONTACT US*/

.contact__us{
    min-height: 100vh;
    background: linear-gradient(to bottom, transparent, var(--dark-purple));
    margin-top: 2%;
    display: grid;
    place-items: center;
}

/*Contact us*/
.contact__view{
    min-width: 800px;
    min-height: 600px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    width: 60%;
    height: 80vh;
}

.col{
    text-align: center;
    border:2em;
}
.col1{
    grid-column: 1;
    background-color: var(--wave-blue);
    border-radius: 2em 0em 0em 2em;
    display: grid;
    place-items: center;
}

.col1 blockquote h2{
    font-size: 2.2rem;
}

.col2{
    background-color: #fff;
    color: #111;
    grid-column: 2;
    border-radius: 0em 5em 5em 0em;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: .5fr 1fr;
    place-items: center;
}

.col2 form{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.col2 legend h2{
    font-size: 2.5rem;
}

input[type="text"] {
    width: 100%;
    padding: 12px 16px;
    border-radius: 8px;
    color: #fff;
    font-family: inherit;
    background-color: transparent;
    border: 1px solid #414141;
}


