:root{
    --wave-purple:#AF40FF;
    --wave-blue:#5B42F3;
    --wave-cyan:#00DDEB;
}

.card__wave {
    background: transparent;
    box-shadow: 0px 8px 28px -9px rgba(0,0,0,0.45);
    position: relative;
    width: 420px;
    height: 520px;
    border-radius: 16px;
    overflow: hidden;
}
  
.wave {
    position: absolute;
    width: 1000px;
    height: 1420px;
    opacity: 0.6;
    left: 0;
    top: 0;
    margin-left: -50%;
    margin-top: -70%;
    background: linear-gradient(744deg,var(--wave-purple),var(--wave-blue) 60%,var(--wave-cyan));
}
  

.wave:nth-child(2), .wave:nth-child(3) {
    top: 350px;
}
  
.waving .wave {
border-radius: 40%;
    animation: waving 3000ms infinite linear;
}

.wave {
border-radius: 40%;
    animation: waving 55s infinite linear;
}

.waving .wave:nth-child(2) {
    animation-duration: 4000ms;
}

.wave:nth-child(2) {
    animation-duration: 50s;
}

.waving .wave:nth-child(3) {
    animation-duration: 5000ms;
}

.wave:nth-child(3) {
    animation-duration: 45s;
}

.card__wave figcaption > p, .card__wave blockquote > p, .card__wave > img, .card__wave .social{
    position: relative;
}

.profile__avatar{
    width: 200px;
    height: 200px;
    object-fit: cover;
    margin: 15% 0 10% 0;
    border-radius: 100%;
}

.profile__name{
    font-size: 1.5rem;
    color: var(--wave-cyan);
}

.profile__city{
    margin-bottom: 4%;
}


@keyframes waving {
    0% {
    transform: rotate(0deg);
    }

    100% {
    transform: rotate(360deg);
    }
}