:root{
    --wave-purple:#AF40FF;
    --wave-blue:#5B42F3;
    --wave-cyan:#00DDEB;
}

.card__wave {
    background: transparent;
    box-shadow: 0px 8px 28px -9px rgba(0,0,0,0.45);
    position: relative;
    width: 330px;
    height: 520px;
    border-radius: 16px;
    overflow: hidden;
}
  
.wave {
    position: absolute;
    width: 800px;
    height: 1120px;
    opacity: 0.6;
    left: 0;
    top: 0;
    margin-left: -50%;
    margin-top: -70%;
    background: linear-gradient(744deg,var(--wave-purple),var(--wave-blue) 60%,var(--wave-cyan));
}
  

.wave:nth-child(2), .wave:nth-child(3) {
    top: 280px;
}
  
.waving .wave {
border-radius: 40%;
    animation: waving 3000ms infinite linear;
}

.wave {
border-radius: 40%;
    animation: waving 55s infinite linear;
}

.waving .wave:nth-child(2) {
    animation-duration: 4000ms;
}

.wave:nth-child(2) {
    animation-duration: 50s;
}

.waving .wave:nth-child(3) {
    animation-duration: 5000ms;
}

.wave:nth-child(3) {
    animation-duration: 45s;
}

.card__info{
    position: relative;
    display: grid;
    place-items: center;
    grid-template-columns: 1fr; 
    grid-template-rows: 2.1fr 0.6fr 0.6fr 0.7fr;
    height: 100%;
}

.profile__avatar{
    width: 200px;
    height: 200px;
    object-fit: cover;
    border-radius: 100%;
    opacity: .95;
}

.profile__name{
    font-size: 1.6rem;
    color: var(--wave-cyan);
}

.social{
    width: 100%;
}
.social ul{
    justify-content: center;
}

.social ul li a > i{
    font-size: 1.7rem;
    margin: 0 6px 0 6px;
    background-color: var(--dark-gray);
    padding: 8px;
    border-radius: 20%;
    transition: 500ms;
}
.social ul li a > i:hover{
    background: #fff;
    cursor: pointer;
}


@keyframes waving {
    0% {
    transform: rotate(0deg);
    }

    100% {
    transform: rotate(360deg);
    }
}